@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "garden";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: #eeeeee;
  --color-base-300: oklch(98% 0.003 247.858);
  --color-base-content: oklch(16.961% 0.001 17.32);
  --color-primary: #f0e100;
  --color-primary-content: #171717;
  --color-secondary: #663de4;
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: #f4008e;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #001018;
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}
